Final_Node-red_flows.json
[
    {
        "id": "412cfc8597df8777",
        "type": "tab",
        "label": "Real Time Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4027a0d8204b69ad",
        "type": "tab",
        "label": "Past Forecast",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ff36ff5.bdc628",
        "type": "ui_tab",
        "name": "Smart Temp-Humidity Monitoring",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a7841362.ae40c",
        "type": "ui_group",
        "name": "Real Time Temperature-Humidity Variation",
        "tab": "2ff36ff5.bdc628",
        "order": 1,
        "disp": true,
        "width": 27,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6551169c8296d79a",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#150061",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#00a870",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#047c38",
                "baseFont": "Trebuchet MS,Helvetica,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#047c38",
                    "value": "#047c38",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#047c38",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#047c38",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#047c38",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#047c38",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#000000",
                    "edited": true
                },
                "base-font": {
                    "value": "Trebuchet MS,Helvetica,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f2d25e7c6a77a499",
        "type": "mqtt-broker",
        "name": "mqtt_broker",
        "broker": "4429533909a4442199abb8de800fdd7b.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b2907dad.3b4d88",
        "type": "mqtt-broker",
        "name": "My RPi Broker",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "d7c12b74.277828",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4120bc84.e1bb74",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7ccde2ba.796d34",
        "type": "ui_group",
        "name": "Monitor",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ae4b8351.dfe6f8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "45975112.c3f2d8",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "4a56520bf4af0703",
        "type": "ui_group",
        "name": "Humidity Predictions",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 27,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b7242bd66fecec87",
        "type": "ui_group",
        "name": "Dashboard for Heat Index and related Data",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "244c2f22cda1e79e",
        "type": "ui_group",
        "name": "Smart Heat Index Display ",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ae577c1915f7642",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "db47a52501c5ae89",
        "type": "mqtt-broker",
        "name": "My RPi Broker",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "9cba6293ee357785",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "651922b3ab160612",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "56478824c70af8b5",
        "type": "ui_group",
        "name": "Monitor",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "68c06146a9c81143",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "01c6fcd9e9d9a589",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "95b01ffd1456d72d",
        "type": "ui_group",
        "name": "Humidity Predictions",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 27,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f7dcc5895618ffd",
        "type": "ui_group",
        "name": "Dashboard for Heat Index and related Data",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a32f5aa52b31ceb",
        "type": "mqtt-broker",
        "name": "My RPi Broker",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "ff71b90f73300c5b",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "23c7f6d91e620993",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4f4ad08003bcce2c",
        "type": "ui_group",
        "name": "Monitor",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fc6f7fe6b497f0f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "9a532f5374a7d577",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "18ac1188997ac65e",
        "type": "ui_group",
        "name": "Humidity Predictions",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 27,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7848b8be30a8d783",
        "type": "ui_group",
        "name": "Dashboard for Heat Index and related Data",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5505191f5f9cf5fa",
        "type": "ui_group",
        "name": "Smart Heat Index Display ",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16416cd43324452d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d611877840e4f40e",
        "type": "mqtt-broker",
        "name": "My RPi Broker",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "d48d002b37271d36",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "53779e8c609a39f4",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7ec4868829a4967d",
        "type": "ui_group",
        "name": "Monitor",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a95aee79c2b97554",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "2ee6184feacfb321",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "da87b922eb4e1369",
        "type": "ui_group",
        "name": "Humidity Predictions",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 27,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8bec572818cc25f8",
        "type": "ui_group",
        "name": "Dashboard for Heat Index and related Data",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "960718716e97e2c6",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "da87b922eb4e1369",
        "order": 1,
        "width": 27,
        "height": 1
    },
    {
        "id": "288b7eceb9a6aad0",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "da87b922eb4e1369",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "f09c542c2a72373e",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "da87b922eb4e1369",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "87443ecd2df89704",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "da87b922eb4e1369",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "ede85c0ecec24c1f",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "da87b922eb4e1369",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "7d9e26e0aa80cb99",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "da87b922eb4e1369",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "840bcdf8517b3234",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "da87b922eb4e1369",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "bfb56d3d6fc19f9c",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "da87b922eb4e1369",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "e7476112119d342d",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "da87b922eb4e1369",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "5b8dadd9181f4487",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "da87b922eb4e1369",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "eb9ed126d328b5bb",
        "type": "mqtt-broker",
        "name": "My RPi Broker",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "c1835e21e424a3c4",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bad4c86776e9ca56",
        "type": "ui_group",
        "name": "Controls",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f88e1646c9053de7",
        "type": "ui_group",
        "name": "Monitor",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4db8abacef4c7f67",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "919f7923247cac97",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "192.168.15.95",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "af61804d677a52af",
        "type": "ui_group",
        "name": "Humidity Predictions",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 27,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fdcf285dd0f2ed3a",
        "type": "ui_spacer",
        "z": "412cfc8597df8777",
        "name": "spacer",
        "group": "71d1538c93816949",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "3eb1ed6fc295dfb8",
        "type": "ui_group",
        "name": "Dashboard for Heat Index and related Data",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "25cf3c9837167857",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "8d306cb5b2f67b65",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "9255f69c1f705bfe",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "861deb5dabae7918",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "09439a3939d5db02",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "f953b43bfd5e160d",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "0307c1dcc4a20148",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "3c08495d92cc5f3c",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "ab9686519265829b",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "f758abef92b2ca27",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "bd0597bc697c82be",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "9382dbf27305e4a4",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "119c99de3d780d30",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "4076ca9c7dafcb3f",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "9580e2940fe1fe76",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "bc8e91f542395c5d",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "3751040867121c6c",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "50396c200834bb6a",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "2ad3108e576ee5f0",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 21,
        "width": 27,
        "height": 1
    },
    {
        "id": "ef7bc774ded7ce0a",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "8c19d1f4fdc80799",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "e2c570a241b7a192",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "95f055ab73f3d2c6",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "b68374804abc1a4f",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "f03144bfaf9c4de2",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "e7f33e4bba10ad08",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "4033f96d19efc417",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "a5cd395f23006882",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "603fbd802fe87425",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "f59b56414fcd31f8",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "4c92cd2e7a9fc3c3",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "f6848efcc650f634",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "4d3e2d5909da01ce",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "2801a2185792c766",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "ed88224bf65a41f1",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "61752b0f8afddea3",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "8b0ae030d7660efc",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "d38dc02b1568cf91",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 42,
        "width": 27,
        "height": 1
    },
    {
        "id": "2f205c1b290192d7",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "2ab49e2ed84ab801",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "fe0ca0c1aa77b5cc",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 47,
        "width": 1,
        "height": 1
    },
    {
        "id": "5e5d1915805fa772",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 48,
        "width": 1,
        "height": 1
    },
    {
        "id": "7a46924e193cf166",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 49,
        "width": 1,
        "height": 1
    },
    {
        "id": "df42a55cc158e7ed",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 50,
        "width": 1,
        "height": 1
    },
    {
        "id": "84fd79794857731c",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 51,
        "width": 1,
        "height": 1
    },
    {
        "id": "204fb41ebf5bfb64",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 52,
        "width": 1,
        "height": 1
    },
    {
        "id": "5093dcd517d83fc5",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 53,
        "width": 1,
        "height": 1
    },
    {
        "id": "73283614988615a5",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "69d3a1ff61caf0db",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 55,
        "width": 1,
        "height": 1
    },
    {
        "id": "b2820b8827708795",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 56,
        "width": 1,
        "height": 1
    },
    {
        "id": "0ec7593ee414e0f9",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 57,
        "width": 1,
        "height": 1
    },
    {
        "id": "1d101f68f8a5ab67",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 58,
        "width": 1,
        "height": 1
    },
    {
        "id": "b244bcd469346714",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 59,
        "width": 1,
        "height": 1
    },
    {
        "id": "3f2c31c92afc8032",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 60,
        "width": 1,
        "height": 1
    },
    {
        "id": "8b25726587373c58",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 61,
        "width": 1,
        "height": 1
    },
    {
        "id": "1aac576b95c4f2d7",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 62,
        "width": 1,
        "height": 1
    },
    {
        "id": "27af152186e48a6d",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 63,
        "width": 27,
        "height": 1
    },
    {
        "id": "c59ec492e59ea483",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 64,
        "width": 1,
        "height": 1
    },
    {
        "id": "76bd13db38d81e13",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 66,
        "width": 1,
        "height": 1
    },
    {
        "id": "510f6a6075f772f5",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 68,
        "width": 1,
        "height": 1
    },
    {
        "id": "e52f6f2766ddb3ef",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 69,
        "width": 1,
        "height": 1
    },
    {
        "id": "1e6a7b1f40519b30",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 70,
        "width": 1,
        "height": 1
    },
    {
        "id": "ca4b852d66688e42",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 71,
        "width": 1,
        "height": 1
    },
    {
        "id": "6817f9aa91cf851a",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 72,
        "width": 1,
        "height": 1
    },
    {
        "id": "08dd23fbe8d238de",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 73,
        "width": 1,
        "height": 1
    },
    {
        "id": "0a3feba891fd7984",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 74,
        "width": 1,
        "height": 1
    },
    {
        "id": "8411db4035616524",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 75,
        "width": 1,
        "height": 1
    },
    {
        "id": "c99a9c4be8ce8b07",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 76,
        "width": 1,
        "height": 1
    },
    {
        "id": "6b57b271f6f2affb",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 77,
        "width": 1,
        "height": 1
    },
    {
        "id": "3c2505f72322f9a5",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 78,
        "width": 1,
        "height": 1
    },
    {
        "id": "deaf5fadc979ac76",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 79,
        "width": 1,
        "height": 1
    },
    {
        "id": "eb91d9524b5d3841",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 80,
        "width": 1,
        "height": 1
    },
    {
        "id": "87e3d2812c0f15c9",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 81,
        "width": 1,
        "height": 1
    },
    {
        "id": "3d68857435f8301a",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 82,
        "width": 1,
        "height": 1
    },
    {
        "id": "3158a6c2c246c751",
        "type": "ui_spacer",
        "z": "4027a0d8204b69ad",
        "name": "spacer",
        "group": "a7841362.ae40c",
        "order": 83,
        "width": 1,
        "height": 1
    },
    {
        "id": "96ad2c10046591ba",
        "type": "mqtt in",
        "z": "412cfc8597df8777",
        "name": "",
        "topic": "esp8266_data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f2d25e7c6a77a499",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 500,
        "wires": [
            [
                "a590761f45be9d00",
                "fadf0c4617d320cf",
                "e232fb4f35a0d21b"
            ]
        ]
    },
    {
        "id": "a590761f45be9d00",
        "type": "debug",
        "z": "412cfc8597df8777",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.humid",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 400,
        "wires": []
    },
    {
        "id": "fadf0c4617d320cf",
        "type": "ui_gauge",
        "z": "412cfc8597df8777",
        "name": "",
        "group": "a7841362.ae40c",
        "order": 44,
        "width": 9,
        "height": 6,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humid}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 500,
        "wires": []
    },
    {
        "id": "bdab636ef269713d",
        "type": "mqtt in",
        "z": "412cfc8597df8777",
        "name": "",
        "topic": "esp8266_data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f2d25e7c6a77a499",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "13df07189de92438",
                "994388e680da8b31",
                "d0e554590b701fdc"
            ]
        ]
    },
    {
        "id": "13df07189de92438",
        "type": "debug",
        "z": "412cfc8597df8777",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.HI",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "22fee9e70a14fe95",
        "type": "mqtt in",
        "z": "412cfc8597df8777",
        "name": "",
        "topic": "esp8266_data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f2d25e7c6a77a499",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 930,
        "y": 500,
        "wires": [
            [
                "45ba9ab9034443e9",
                "2597d7e99d3d425b",
                "e7adf1152d400ccd"
            ]
        ]
    },
    {
        "id": "45ba9ab9034443e9",
        "type": "debug",
        "z": "412cfc8597df8777",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.Ftemp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 400,
        "wires": []
    },
    {
        "id": "2597d7e99d3d425b",
        "type": "ui_gauge",
        "z": "412cfc8597df8777",
        "name": "",
        "group": "a7841362.ae40c",
        "order": 23,
        "width": 9,
        "height": 6,
        "gtype": "gage",
        "title": "Temperature(F)",
        "label": "F",
        "format": "{{msg.payload.Ftemp}}",
        "min": "32",
        "max": "212",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "74",
        "seg2": "100",
        "diff": false,
        "className": "",
        "x": 1240,
        "y": 500,
        "wires": []
    },
    {
        "id": "994388e680da8b31",
        "type": "ui_gauge",
        "z": "412cfc8597df8777",
        "name": "",
        "group": "a7841362.ae40c",
        "order": 2,
        "width": 9,
        "height": 6,
        "gtype": "donut",
        "title": "Heat Index",
        "label": "F",
        "format": "{{msg.payload.HI}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "80",
        "seg2": "124",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "72a313ad074e44f5",
        "type": "ui_chart",
        "z": "412cfc8597df8777",
        "name": "",
        "group": "a7841362.ae40c",
        "order": 4,
        "width": 15,
        "height": 6,
        "label": "HI Variation Over Time (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "cddfbe9f1586bece",
        "type": "ui_chart",
        "z": "412cfc8597df8777",
        "name": "",
        "group": "a7841362.ae40c",
        "order": 25,
        "width": 15,
        "height": 6,
        "label": "Temperature(F)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#c73333",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1480,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e7adf1152d400ccd",
        "type": "function",
        "z": "412cfc8597df8777",
        "name": "function 1",
        "func": "msg.payload = msg.payload.Ftemp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 600,
        "wires": [
            [
                "cddfbe9f1586bece"
            ]
        ]
    },
    {
        "id": "d0e554590b701fdc",
        "type": "function",
        "z": "412cfc8597df8777",
        "name": "function 2",
        "func": "msg.payload = msg.payload.HI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "72a313ad074e44f5"
            ]
        ]
    },
    {
        "id": "e232fb4f35a0d21b",
        "type": "function",
        "z": "412cfc8597df8777",
        "name": "function 3",
        "func": "msg.payload = msg.payload.humid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 600,
        "wires": [
            [
                "6b6d999d0f99f7d1"
            ]
        ]
    },
    {
        "id": "6b6d999d0f99f7d1",
        "type": "ui_chart",
        "z": "412cfc8597df8777",
        "name": "",
        "group": "a7841362.ae40c",
        "order": 46,
        "width": 15,
        "height": 6,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "2ea5a20125bfd93c",
        "type": "inject",
        "z": "4027a0d8204b69ad",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "38933dcd69a8f40a"
            ]
        ]
    },
    {
        "id": "38933dcd69a8f40a",
        "type": "file in",
        "z": "4027a0d8204b69ad",
        "name": "Past Forecast",
        "filename": "C:\\Users\\malee\\Desktop\\SLIIT\\Y4S1\\IOTDBA\\iot_project\\PastPredictions.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "8578e0f3b22ad09a"
            ]
        ]
    },
    {
        "id": "8578e0f3b22ad09a",
        "type": "csv",
        "z": "4027a0d8204b69ad",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "Date,Predicted Mean",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 510,
        "y": 180,
        "wires": [
            [
                "2f6fb46d9b14938e",
                "57b5fb7bb1f70514"
            ]
        ]
    },
    {
        "id": "57b5fb7bb1f70514",
        "type": "debug",
        "z": "4027a0d8204b69ad",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "2f6fb46d9b14938e",
        "type": "function",
        "z": "4027a0d8204b69ad",
        "name": "Graph generate",
        "func": "var payload = msg.payload;\nvar data_out = [];\nvar a1 = [];\n\nfor (let i = 0; i < payload.length; i++) {\n    var dt = [];\n\n    var temp1 = { \"x\": payload[i][\"Date\"], \"y\": parseFloat(payload[i][\"Predicted Mean\"]) };\n\n    a1.push(temp1);\n}\n\ndata_out = [a1];\nmsg.payload = [{\n    \"series\": [\"Predicted Mean\"],\n    \"data\": data_out,\n    \"labels\": [\"Predicted Mean\"]\n}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 280,
        "wires": [
            [
                "57b5fb7bb1f70514",
                "b0b14f4eabb5b6d2"
            ]
        ]
    },
    {
        "id": "b0b14f4eabb5b6d2",
        "type": "ui_chart",
        "z": "4027a0d8204b69ad",
        "name": "Past Visualisations",
        "group": "a7841362.ae40c",
        "order": 65,
        "width": 12,
        "height": 6,
        "label": "Humidity Predictions for the Past 12 Months",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "80",
        "ymax": "90",
        "removeOlder": "365",
        "removeOlderPoints": "365",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d37a0819e82e799d",
        "type": "inject",
        "z": "4027a0d8204b69ad",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "4ab468715e3ace8a"
            ]
        ]
    },
    {
        "id": "4ab468715e3ace8a",
        "type": "file in",
        "z": "4027a0d8204b69ad",
        "name": "Future Predictions",
        "filename": "C:\\Users\\malee\\Desktop\\SLIIT\\Y4S1\\IOTDBA\\iot_project\\FuturePredictions.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "95fa181d13bbbba9"
            ]
        ]
    },
    {
        "id": "95fa181d13bbbba9",
        "type": "csv",
        "z": "4027a0d8204b69ad",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "Date, Predicted Mean",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 530,
        "y": 620,
        "wires": [
            [
                "b3a10a2797ede576",
                "5e5a7c5e2555afc9"
            ]
        ]
    },
    {
        "id": "b3a10a2797ede576",
        "type": "function",
        "z": "4027a0d8204b69ad",
        "name": "Graph Generate",
        "func": "var payload = msg.payload;\nvar data_out = [];\nvar a1 = [];\n\nfor (let i = 0; i < payload.length; i++) {\n    var dt = [];\n\n    var temp1 = { \"x\": payload[i][\"Date\"], \"y\": parseFloat(payload[i][\"Predicted Mean\"]) };\n\n    a1.push(temp1);\n}\n\ndata_out = [a1];\nmsg.payload = [{\n    \"series\": [\"Predicted Mean\"],\n    \"data\": data_out,\n    \"labels\": [\"Predicted Mean\"]\n}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 740,
        "wires": [
            [
                "5e5a7c5e2555afc9",
                "16334cb50b9e54fc"
            ]
        ]
    },
    {
        "id": "5e5a7c5e2555afc9",
        "type": "debug",
        "z": "4027a0d8204b69ad",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 620,
        "wires": []
    },
    {
        "id": "16334cb50b9e54fc",
        "type": "ui_chart",
        "z": "4027a0d8204b69ad",
        "name": "Future Predictions",
        "group": "a7841362.ae40c",
        "order": 67,
        "width": 12,
        "height": 6,
        "label": "Humidity Predictions for the Future 12 Months",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "75",
        "ymax": "90",
        "removeOlder": "1000",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 840,
        "wires": [
            []
        ]
    }
]